.wiki .italic {
	font-style: italic;	
}

.wiki .bold {
	font-weight: bold;
}

.wiki .monospace {
	font-family: monospace;
}

.wiki .underline {
	text-decoration: underline;
}

.wiki .superscript {
	font-size: xx-small;
	vertical-align: super; 
}

.wiki .subscript {
	font-size: xx-small;
	vertical-align: sub;
}

.wiki .smaller {
	font-size: smaller;
}

.wiki .larger {
	font-size: larger;
}

.wiki .stroke {
	text-decoration: line-through;
}

.wiki table {
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	width: auto;
}

.wiki tr {
	padding: 0px;
	margin: 0px;
	width: auto;
}

.wiki td {
	padding: 0px;
	margin: 0px;
	font: 12px Verdana, sans-serif;
	border-color: #00aac0;
	border-width: 1px;
	border-style: solid;
	width: auto;		
}